<!DOCTYPE HTML>
<html lang="uk" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title></title>
</head>
<body>
<div th:fragment="recipes-list">
    <!--/*@thymesVar id="category" type="java"*/-->
    <h1 th:text="${category}"></h1>
    <!--/*@thymesVar id="word" type="java"*/-->
    <h2 th:if="${word}">Search Result by Fragment "<span th:text="${word}"></span>"</h2>
    <ul class="list-group">
        <!--/*@thymesVar id="recipes" type="java"*/-->
        <th:block th:each="recipe : ${recipes}">
            <li class="list-group-item"><!--/*@thymesVar id="point" type="java"*/-->
                <a th:utext="${recipe}" th:href="@{${point}(nameOfCourse=${recipe})}"
                   style="color: #495057"></a></li>
        </th:block>
    </ul>

</div>

</body>
</html>