<!DOCTYPE HTML>
<html lang="uk" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>Search by Ingredient</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/hideNav.css">
    <link rel="icon" href="../img/logo/favicon.png"/>
    <script src="../js/jQuery%203.5.1.js"></script>
</head>
<body class="d-flex flex-column h-100">

<div th:insert="guest/templs/nav-guest::nav-guest"></div>

<main role="main">

    <div th:insert="guest/templs/category-guest::category-guest"></div>

    <div style="flex-grow: 1">
        <div th:with="point='/recipePageGuest'" th:insert="templs/recipes-list::recipes-list" id="resipe_list"></div>
        <br><br>

        <div class="pagination" th:if="${allPage gt 1}">
            <a th:href="@{/guest/searchByIngredient(pageNo = 0, word=${word})}">&laquo;</a>
            <th:block th:each="i: ${#numbers.sequence(0, allPage - 1)}">
                <a th:href="@{/guest/searchByIngredient(pageNo = ${i}, word=${word})}">[[${i} + 1]]</a>
            </th:block>
            <a th:href="@{/guest/searchByIngredient(pageNo = ${allPage} - 1, word=${word})}">&raquo;</a>
        </div>
    </div>
</main>

<footer class="forms">
    <div class="container">
        <p class="text-muted">Creator: Max V. Kamkin, <a href="tel:+380968446688">+380968446688</a>, <a
                href="mailto:mvkamkin@gmail.com">mvkamkin@gmail.com</a>.</p>
    </div>
</footer>

</body>

<script src="../js/script.js"></script>

</html>


