input[type="checkbox"] {
    margin-top: calc(50% - 8px);
}

#checkbox {
    display: inline-block;
    text-align: center;
    width: 32px;
    height: 32px;
    background: #FFF;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    vertical-align: middle;
    margin-top: -4px;
}
