<!DOCTYPE HTML>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>Recipes login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="css/enter.css">
    <link rel="icon" href="img/logo/favicon.png"/>
</head>
<body>
<div class="container">
    <div class="transform  rotateY">
        <a href="/"><img src="img/logo/logo_transparent.png" height="100%" alt="Logo"></a>
    </div>
</div>
<br>
<div th:if="${success}" class="isa_error">
    <h3>Check Your Email!</h3>
</div>
<div th:if="${mistake}" class="isa_error">
    <h3>There is no such address in the database!</h3>
</div>
<div class="forms">
    <form action="/newPassword" method="POST">
        <label style="font-size: 200%; color: #dddddd" for="email">A temporary password will be sent to your
            email.</label>
        <input type="email" th:name="email" class="enter_input" placeholder="*Your E-mail." required id="email"><br/>
        <input type="submit" class="btn btn-outline-light btn-lg btn-block"/>
    </form>
</div>
</body>
</html>
