<!DOCTYPE HTML>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>Recipes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"/>
    <link rel="stylesheet" href="css/enter.css"/>
    <link rel="icon" href="../static/img/logo/favicon.png"/>
</head>
<body>
<div class="container">
    <div class="transform  rotateY">
        <img src="img/logo/logo_transparent.png" height="100%" alt="Logo"/>
    </div>
</div>
<br>

<div th:if="${logout!=null}" class="isa_error" style="color: #333344">
    You have been logged out.
</div>
<br>
<div class="forms">
    <button type="button" class="btn btn-outline-light btn-lg btn-block" onclick="document.location='login'">Log in
    </button>
    <br>
    <button type="button" class="btn btn-outline-light btn-lg btn-block" onclick="document.location='guest/main-guest'">
        Be a guest
    </button>
    <br>
    <button type="button" class="btn btn-outline-light btn-lg btn-block" onclick="document.location='register'">Sign
        up
    </button>
</div>
</body>
</html>