<!DOCTYPE HTML>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>Recipes login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="css/enter.css">
    <link rel="icon" href="img/logo/favicon.png"/>
</head>
<body>
<div class="container">
    <div class="transform  rotateY">
        <a href="/"><img src="img/logo/logo_transparent.png" height="100%" alt="Logo"></a>
    </div>
</div>
<br>
<div th:if="${param.error!=null}" class="isa_error" style="position: static">
    <h2>Invalid username or/and password!</h2>
    <h3 style="color: #343a40">Try again or <a href="register.html">register</a>.</h3>
    <h6><a th:href="@{/access_recovery}" style="margin-top: 1rem">Forgot your password?</a></h6>
</div>

<br>
<div class="forms">
    <form action="/j_spring_security_check" method="POST">
        <input type="text" name="j_login" class="enter_input" placeholder="Login:" autofocus="autofocus" required><br>
        <input type="password" name="j_password" class="enter_input" placeholder="Password:" required><br>
        <input type="submit" class="btn btn-outline-light btn-lg btn-block"/>
    </form>
</div>
</body>
</html>
