<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mail</title>
</head>
<body>

<h1>Why we disabled your account</h1>
<p>To help fight spam, we have automated systems in place that flag accounts that have exposed their credentials (API/SMTP). If you're receiving this email, that means we've found an instance where your credentials were exposed publicly on the web (i.e. Github).
    You can read more about <a href="https://www.mailgun.com/blog/internet-security-defending-against-spam/">why this is bad here.</a></p>
<br><br>
<form action="/users">
    <button>Return</button>
</form>

</body>
</html>